<div class="">

  <h1 id="greeting"></h1>  
  
  <p>The project is made in <strong>AngularJS</strong>, JQuery, Ajax.</p>
  
  <p><strong>Http requests</strong> (GET, POST, PUT, DELETE) used for the actions: create/edit/view/delete page, are handled through Ajax using the ASP.NET Web API.</p>
  
  <p>The <strong>views</strong> are routed via AngularJS <strong>$route</strong> service (see /js/app.js). Thus, the view templates are the html files located in <strong>/partials</strong>. Each template has its own controller. <strong>Controllers</strong> are defined in js/controllers.js</p>
  
  <p>User can view pages, view details of pages, edit pages, delete pages, create a new page.</p>
    
  <p>Data binding is used basically in forms to bind $scope with view. The main work is done in ListCtrl controller (see js/controllers.js) where you can find all the functions doing the http requests.</p>
  
  <p>The <strong>list_pages.html</strong> partial contains all views the user needs. The different sections (list pages, view details, edit a page, create a new page) are shown/hidden depending on user actions.</p>
  
  <p><a href="http://www.waftdesign.gr/apps/PageManagementAPI">Check it online</a></p>

  <a href="#/home">Home</a>
  
</div>
